{% extends 'core/base.html' %}
{% block title %}
Contacto
{% endblock  %}
{% block content %}
<h1>Contacto</h1>
<br>

{% comment %}         Formulario Rapido
        <form>
        <table>
        {{form.as_table}}
        </table>
        <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
 {% endcomment %}

{% comment %} Comprueba que el mensaje fue enviado {% endcomment %} 
{% if 'ok' in request.GET %}
<h2 class="text-danger"> Su mensaje fue enviado</h2>
{% endif %}
<form action="" method="POST">
{% csrf_token %}
  <div class="form-group row">
    <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      {{form.nombre}}
    </div>
    {{form.nombre.errors}}
  </div>
  <div class="form-group row">
    <label for="correo" class="col-sm-2 col-form-label">Correo</label>
    <div class="col-sm-10">
      {{form.correo}}
    </div>
    {{form.correo.errors}}
  </div>
  <div class="form-group row">
    <label for="mensaje" class="col-sm-2 col-form-label">Mensaje</label>
    <div class="col-sm-10">
     {{form.mensaje}}
    </div>
    {{form.mensaje.errors}}
  </div>
   <button type="submit" class="btn btn-primary">Enviar</button>
</form>
{% comment %} {{metodo}} {% endcomment %}
<br>
{% comment %} {{form}} {% endcomment %}
{% endblock  %}