<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}
    {% endblock  %} | Matrix</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <nav class="navbar navbar-expand navbar-light bg-light">
                    <div class="nav navbar-nav">
                        <a class="nav-item nav-link {% if request.path == '/' %}active{% endif %} "
                            href="{% url 'inicio' %}">Inicio <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link {% if request.path == '/servicio' %}active{% endif %}"
                            href="{% url 'servicio' %}">Servicio</a>
                        <a class="nav-item nav-link {% if request.path == '/historia' %}active{% endif %}"
                            href="{% url 'historia' %}">Historia</a>
                        <a class="nav-item nav-link {% if request.path == '/store' %}active{% endif %}"
                            href="{% url 'store' %}">Tienda</a>
                        <a href="{% url 'blog' %}" class="nav-item nav-link {% if request.path == '/blog' %}active{% endif %}">Blog</a>
                        <a class="nav-item nav-link {% if request.path == '/contacto' %}active{% endif %}"
                            href="{% url 'contacto' %}">Contacto</a>
                    </div>
                </nav>
                <!-- Contenido de las páginas -->
                {% block content %}
                {% endblock  %}
            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
</body>

</html>