{% extends 'core/base.html' %}
{% block title %}
Servicio
{% endblock  %}
{% block content %}
{% for servicio in servicio %}
  <h1> {{servicio.title}}</h1>
  <p>{{servicio.contenido | linebreaks}}</p>
{% endfor %}
{% endblock  %}